.commom{display:flex;flex-direction:column;justify-content:center}
.formulario{height:300px; width:300px; flex-direction:column; }
.formelements{height:80px; margin:auto; padding-bottom:20px}
.sendData{width:80px ;margin-left:15%}
#leaflet_map{height:40%}
.formElement{clear:both; align-self:center;}
.button{
    background-color:#0fdc09;
    color:#fff;padding:5px;
    border-radius:2px;
    cursor:pointer;
    border:none
}
.button:hover{background-color:#07a709}
.cadastroInput{
    width:600px;
    height:20px;
}
.navigationBar{list-style-type: none;margin:0;padding: 0px 10px 50px 800px;width:100%;overflow:hidden}
.navigationΒarΙtem{display:flex; float:left;background-color:#0fdc09; text-decoration:none}
.navigationΒarΙtem a{padding:10px 25px 5px 25px;text-decoration:none}
.navigationΒarΙtem a:hover{background-color:#07a709}
.whiteText{color:#fff;}
.ativo{background-color:#07a709}
.ativo a:hover{background-color:#000}
/* .fieldset{border-color:#07a709; border-style: dashed;} */
