{% extends 'layouts/application.html' %}

{% block conteudo %}


<body class="bg-success">
    <!--<div style="align-items: center;">                                                                  -->
    <!--    <ul class="navigationBar">-->
    <!--        <li class="navigationΒarΙtem "><a class="whiteText" href="Index.html">Home</a></li>-->
    <!--        <li class="navigationΒarΙtem ativo"><a class="whiteText" href="Login.html">Login</a></li>-->
    <!--        <li class="navigationΒarΙtem "><a class="whiteText" href="Tutorial.html">Tutorial</a></li>-->
    <!--        <li class="navigationΒarΙtem"><a class="whiteText" href="Cadastro.html">Cadastro</a></li>-->
    <!--        <li class="navigationΒarΙtem"><a class="whiteText" href="Mapa.html">Mapa</a></li>-->
    <!--    </ul>-->
<!---->
    <!--</div>-->
    <div class="conteudo commom">
        <p></p>
        <span></span>
        <form action="" method="post" id="formLogin" class="formulario" style="padding-left:35%">
            <div class="formelements">
                <label for="login" class="text-white"><b>Digite seu Login</b></label>
                <input type="text" autocomplete="off" id="login" name="login" placeholder="Login. 20 caracteres Max"
                    maxlength="20" />
            </div>
            <div class="formelements">
                <label for="senha" class="text-white"><b>Digite sua Senha</b></label>
                <input type="password" autocomplete="off" id="senha" name="senha" placeholder="Senha. 20 caracteres Max"
                    maxlength="20" />
            </div>
            <button type="submit" class="sendData">Enviar</button>
        </form>


    </div>
    <script>
        var el = document.querySelector(".sendData");

     //   el.addEventListener("click", function () {
     //       var form = document.getElementById("formLogin");
//
     //       form.action = searchpage();
     //   });
     //   function searchpage() {
//
     //       var url = window.location.href.toString();
     //       var position = url.search("Mapa");
     //       newUrl = url.replaceAt(position, "Index");
     //       return newUrl;
     //   }
//
    </script>
</body>
{% endblock %}


</html>