{% extends 'layouts/application.html' %}

{% block conteudo %}
<body>

    <!--<div style="align-items: center;">                                                                      -->
    <!--    <ul class="navigationBar">-->
    <!--        <li class="navigationΒarΙtem "><a class="whiteText" href="Index.html">Home</a></li>-->
    <!--        <li class="navigationΒarΙtem "><a class="whiteText" href="Login.html">Login</a></li>-->
    <!--        <li class="navigationΒarΙtem "><a class="whiteText" href="Tutorial.html">Tutorial</a></li>-->
    <!--        <li class="navigationΒarΙtem"><a class="whiteText" href="Cadastro.html">Cadastro</a></li>-->
    <!--        <li class="navigationΒarΙtem ativo"><a class="whiteText" href="Mapa.html">Mapa</a></li>-->
    <!--    </ul>-->
<!---->
    <!--</div>-->
    <div id="map" style="height:40px"></div>
    <p></p>
    <span></span>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        /**
         * cria markers.
         * */
        function addMarkers(latitude, longitude, map) {
            var arrLatLong = [latitude, longitude];
            var marker = L.marker(arrLatLong).addTo(map);
            return marker;

        };
        var marker = L.marker([-22.710910, -43.332682]).addTo(map);
    </script>
</body>
{% endblock %}


