{% extends 'layouts/application.html' %}

{% block conteudo %}
<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
    <div class="card-body">

        <a href="/post/1">
            <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
                <span>
                    Sustentabilidade Ambiental: conceito, importância, vantagens, exemplos de ações e mais
                </span>
            </h4>
        </a>

        <p class="card-text">
            Sustentabilidade Ambiental é a tônica dessa década e dos próximos anos.

            Isso porque a comunidade global tem refletido bastante sobre os impactos negativos causados pelos antigos
            modelos de produção (como a queima de combustíveis fósseis).

            Não é à toa que inúmeras transnacionais multimilionárias têm seguido a tendência de implementar ações
            sustentáveis em sua cadeia produtiva.

            Na Cúpula de Ação Climática da ONU (Organização das Nações Unidas), que aconteceu em 23 de setembro de 2019,
            em Nova Iorque, 87 das maiores empresas no mundo (dentre elas, a Danone, Nestlé, Ericsson) se comprometeram
            a cumprir metas climáticas.

            Elas juntas detém mais de 2,3 trilhões de dólares em valor de mercado, e, anualmente, emitem o equivalente a
            73 usinas de carvão.
        </p>
    </div>
</div>

{% endblock %}