{% extends 'layouts/application.html' %}

{% block conteudo %}
<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
    <div class="card-body">
        <p class="lead">
            <i class="material-icons">favorite</i>
            <i class="material-icons">favorite</i>
            <i class="material-icons">favorite</i>
        </p>

        <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
            <span>
               Parabéns!
            </span>
        </h4>
    </div>
</div>

{% endblock %}