{% extends 'layouts/application.html' %}

{% block conteudo %}
<section class="card shadow-sm bg-white rounded" style="margin-top: 30px; padding-top:30px; padding-bottom:30px">
    <div class="card-body">
        <h1 class="card-title font-weight-bold">
            Sustentabilidade Ambiental: conceito, importância, vantagens, exemplos de ações e mais
        </h1>
        <p class="lead">
            <i class="material-icons">date_range</i>
            <span>
                28 de nov de 2021
            </span>
        </p>
        <hr class="my-4">
        <br>
        <p style="font-size:20px">
            Sustentabilidade Ambiental é a tônica dessa década e dos próximos anos.

            Isso porque a comunidade global tem refletido bastante sobre os impactos negativos causados pelos antigos
            modelos de produção (como a queima de combustíveis fósseis).

            Não é à toa que inúmeras transnacionais multimilionárias têm seguido a tendência de implementar ações
            sustentáveis em sua cadeia produtiva.

            Na Cúpula de Ação Climática da ONU (Organização das Nações Unidas), que aconteceu em 23 de setembro de 2019,
            em Nova Iorque, 87 das maiores empresas no mundo (dentre elas, a Danone, Nestlé, Ericsson) se comprometeram
            a cumprir metas climáticas.

            Elas juntas detém mais de 2,3 trilhões de dólares em valor de mercado, e, anualmente, emitem o equivalente a
            73 usinas de carvão.

            O desenvolvimento sustentável, então, emerge como uma solução extremamente viável e positiva, tanto para o
            meio ambiente quanto para a economia e o setor privado.

            Afinal de contas, modelos de negócios sustentáveis apresentam mecanismos de reaproveitamento de insumos e
            recursos.

            Isso reduz drasticamente os custos da produção, e, consequentemente, aumenta o lucro.

            Para ajudar você a compreender a fundo essa tendência global e saber como se tornar o gestor de uma empresa
            sustentável construímos esse Guia Definitivo de Sustentabilidade Ambiental.
            
        <br>
        <p>
            Fonte: https://polosalvador.com.br/blog/sustentabilidade-ambiental/
        </p>
        </p>
    </div>
</section>

{% endblock %}