{% extends 'layouts/application.html' %}

{% block conteudo %}
<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
    <div class="card-body">
        <p class="lead">
            <i class="material-icons">favorite</i>
            <i class="material-icons">favorite</i>
            <i class="material-icons">favorite</i>
        </p>

        <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
            <span>
               Qual alternativa abaixo descreve a importância do desenvolvimento sustentável
            </span>
        </h4>

        <a href="/quizz/parabens" class="btn btn-success mt-2" >Promoção de formas eficientes de manejo dos recursos naturais.</a>
        <a href="/quizz/parabens" class="btn btn-success mt-2" >Incentivação do uso de agrotóxicos para produção de alimentos.</a>
    </div>
</div>

{% endblock %}